<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
   <!-- 
      1、什么是动态组件
      通过v-if/v-else-if/v-else确实能够实现切换组件
      但是在Vue中切换组件还有一种更专业的方式
      <component v-bind:is="需要显示组件名称"></component>
      component我们称之为动态组件，也就是你让我显示谁我就显示谁

      2、为什么可以通过v-if切换还要有component
      因为component可以配合keep-alive来保存被隐藏组件隐藏之前的状态
    -->
    <div id="app">
        <button @click="toggle">切换</button>
        <!-- <p v-if="isShow">我是首页</p>
        <img v-else src="./images/background.jpg" alt=""> -->
        <!-- <home v-if="isShow"></home>
        <photo v-else></photo> -->
        <keep-alive>
            <component v-bind:is="name"></component>
        </keep-alive>  
    </div>
    
    <template id="home">
       <div>
           <p>我是首页</p>
           <input type="checkbox">
       </div>
    </template>
    <template id="photo">
        <div>
            <img src="./images/background.jpg" alt="">
        </div>
     </template>
    <script>
        
        //   自定义全局组件
        Vue.component("home", {
            template:"#home",          
            }
         );
        Vue.component("photo", {
            template:"#photo",
            }
         );
        let vue1 = new Vue({
            el:"#app",
            data:{
                isShow:true,
                name:"home"
            },
            methods:{
                toggle(){
                    this.isShow = !this.isShow;
                    this.name = this.name ==="home"?"photo":"home";
                }
            },
            // components:{
            //     "abc":{
            //         template:"#info"

            //     }
            // }
        })
    </script>
</body>
</html>